.idea/*
data/*
*/__pycache__/*
__pycache__/*
src/test/__pycache__/
src/polarity/pytorch/__pycache__/
src/polarity/__pycache__/
src/polarity/tensorflow/__pycache__/
src/polarity/data/__pycache__/
src/polarity/baseline/__pycache__/
src/polarity/lstm_baseline/embeddings/__pycache__/
src/polarity/lstm_baseline/__pycache__/
src/polarity/preprocessing/__pycache__/
src/polarity/lstm_baseline/lr_schedulers/__pycache__/
*.bin
models/
tensor-logs/
trained_models/
logs/
wandb/
results/
